<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RomanNumeralsKata-TDD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64A28E4B2146D06D007D39E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A28E5F2146D06E007D39E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A28E6A2146D06E007D39E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
